{% extends 'main/layout.html' %}
{% load static %}
{% block title %}
    <h1>Про нас</h1>
{% endblock %}

{% block content %}
<div class="container bg-light pt-5 mt-5 ">
    <p>Music – лидер среди розничных сетей по продаже музыкальных инструментов и оборудования в России.

        Мы – крупнейшая розничная сеть из 50 музыкальных магазинов в России, интернет-магазин №1 по популярности в
        данном сегменте в Рунете*.

        У нас представлен широкий ассортимент товаров для начинающих и профессиональных музыкантов, звукорежиссеров и
        продюсеров, владельцев бизнесов. Компания - официальный дилер 600 мировых брендов Yamaha, Fender, Ibanez,
        Gibson, Marshall, Casio, AKG, Shure, Korg, Numark, Pioneer, Tamа, Zildjian, Mackie, JBL и других.

        Music работает для своих покупателей более 20 лет. Компания первой на российском рынке музыкальных инструментов
        реализовала омниканальный подход: в магазинах и онлайн для покупателей всегда единые цены, ассортимент и
        сервис.</p>
    <img src="{% static 'main/img/484.jpg' %}" class="embed-responsive-item" alt="..." width="100%" height="450px">
</div>


{% endblock %}
